<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>考研教室管理后台系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/X-admin/css/font.css">
	<link rel="stylesheet" href="/static/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X-admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="index">系统主页</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$username}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="secret">修改密码</a></dd>
              <dd><a href="logout">退出</a></dd>
            </dl>
          </li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
       {include file="adminmenu/index" /}
        <!-- 左侧菜单结束 -->
        
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <blockquote class="layui-elem-quote">
                欢迎使用考研教室管理后台系统<span class="f-14">v2.0</span>！
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">修改密码</a></legend>
            </fieldset>
            <form class="layui-form" action="secret_update" method=POST>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">username：</label>
                        <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" autocomplete="off" class="layui-input" readonly="readonly" value={$username}>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">password：</label>
                        <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">
            陈泓任 2001210194
        </div>  
    </div>
    <!-- 底部结束 -->
    
    <!-- 背景切换开始 -->
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/static/X-admin/images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <!-- 背景切换结束 -->
</body>
</html>