<!-- 左侧菜单开始 -->
        <div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="query">
                        <i class="iconfont">&#xe70b;</i>
                        信息查询
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" >
                    <a href="student">
                        <i class="iconfont">&#xe70b;</i>
                        学生管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list">
                    <a href="classroom">
                        <i class="iconfont">&#xe70b;</i>
                        教室管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list" >
                    <a href="user">
                        <i class="iconfont">&#xe70b;</i>
                        用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
            </ul>
          </div>
        </div>
<!-- 左侧菜单结束 -->